/* ---------------------- CSS RESET START ---------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin-block-start: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------- CSS RESET END ---------------------- */

/* root element is for CSS variables */
:root {
    --red: #D20537;
    --white: #fff;
    --mint: #589c95;
    --dk-blue: #11202a;
    --gray: #2d373c;

    --mint-rgba: rgba(88,156,149,.5);

    --header-fonts: "mr-darcy", Helvetica, sans-serif;
    --body-fonts: "Young Serif", Georgia, serif;
}
body {
    color: var(--gray);
    line-height: 1.3;
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #678a8f;
    background-image: url("images/arabesque.png");
    font-family: var(--body-fonts);
    font-size: 1rem;
}
header, footer {
   font-size: 2rem;
   font-family: var(--header-fonts);
}
.hero-image {
    background-image: url(images/swiss-valley.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    box-shadow: inset 0 -20px 50px -10px var(--dk-blue);
}
.hero-text {
    text-align: center;
}
h1, h2, h3 {
    font-family: var(--header-fonts);
    font-weight: bold;
}
h1 {
    font-size: 4rem;
    color: var(--red);
    text-shadow: 1px 1px 2px var(--white);
    padding-top: 20px;
}
a {
    text-decoration: none;
    color: var(--red);
}
/* ----- ALL NAV TAGS START ----- */
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 200px 400px 200px;
    justify-content: center;
    gap: 2rem;
    padding: 10px;
}
nav li {
    display: grid;
    font-weight: bold;

}
nav a {
    padding: .5rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--mint);
    border-radius: 25px 0;
    opacity: .6;
    transition: 1s ease-in-out;
}
nav a:hover {
    opacity: 1;
    border-radius: 0 25px;
    transform: scale(1.2);
}
nav a.active {
    text-shadow: 2px 2px 2px var(--red);
    opacity: 1;
}
/* ----- ALL NAV TAGS END ----- */
main {
    display: flex;
    justify-content: center;
    font-family: var(--body-fonts);
    background: rgba(255, 255, 255, .8);
}
h2 {
    font-size: 3rem;
    color: var(--mint);
    transition: 1s ease-in-out;
}
p {
    font-size: 1.2rem;
    margin: 20px auto;
    padding: 10px;
    max-width: 40ch;
    border-radius: 20px;
    transition: .7s ease;
}
h2, h3 {
    text-align: center;
}
.header2 > p {
    max-width: 65ch;
}
.grid-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-contact {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}
.header2 {
    margin: 0 auto;
    padding: 20px 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
.content-group-1, .content-group-2 {
    display: grid;
    padding: 15px;
}
h3 {
    font-size: 1.5rem;
    color: var(--gray);
    margin: 20px auto;
    transition: 1s ease-in-out;
}
img {
    display: block;
    margin: 0 auto;
}
.img-contact {
    width: 1000px;
    height: auto;
    border-radius: 5px;
}
img.effects {
    margin: 0 auto;
    padding: 0;
    border-radius: 15%;
    opacity: .6;
    box-shadow: 0 0 10px 10px var(--dk-blue);
    transition: all 1s ease-in-out;
}
img.effects:hover {
    opacity: 1;
    transform: scale(1.2) translate3d(0px, -30px, 0px);
    z-index: 2;
}
img:hover ~ .child {
    color: var(--red);
    transform: rotateX(360deg) scale(1.2);
}
img:hover ~ .child2 {
    transform: scale(1.2);
}

/* ----- CONTACT FORM TAGS START ----- */
form {
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    color: var(--gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: var(--mint-rgba);
}
.form-left, .form-right {
    display: grid;
    width: 40%;
}
.required {
    color: var(--red);
    font-size: 1.3rem;
    font-weight: bold;
}
label {
    font-weight: bold;
}
input, select, textarea {
    padding: 10px;
    font-size: 1rem;
    margin: 0 20px 24px;
    border-radius: 10px;
    border: 1px solid var(--dk-blue);
    background-color: var(--white);
    box-shadow: -6px 6px 10px var(--gray);
}
select {
    appearance: none;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    color: var(--white);
}
#arrow::after {
    display: block;
    content: "\25bc";
    width: 6px;
    height: 6px;
    color: var(--red);
    position: relative;
    top: -3.5rem;
    left: 18rem;
}
fieldset {
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid var(--white);
    padding: 10px;
}
legend {
    font-weight: bold;
}
input[type="radio"] + label {
    cursor: pointer;
    display: inline-block;
    align-items: center;
}
#my-submit {
    background-color: var(--red);
    border: none;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: -6px 6px 10px var(--gray);
}
input:invalid, select:invalid, textarea:invalid {
	border: 2px solid var(--red);
}
input:focus, select:focus, textarea:focus {
	outline: 3px solid var(--mint);
}
#my-submit:focus {
	outline: 3px solid var(--dk-blue);
}
#my-submit:hover {
	box-shadow: -3px 3px 5px var(--gray);
}
input[type="radio"] {
   	appearance: none;
	padding: 0px;
	border: 0px;
	font-size: 0;
	border-radius: 0;
}
input[type="radio"] + label::before {
   	content: "\00a0";
	font-size: 2em;
	line-height: 0.6;
   	border-radius: 50%;
   	display: inline-block;  
   	height: 22px;
   	width: 22px;
   	text-align: center;
   	margin-right: 16px;
   	border: 2px solid var(--dk-blue);
   	background-color: var(--mint);
	padding-bottom: 2px;
}
input[type="radio"]:checked + label::before {
   	content: "\2022";
   	color: var(--mint);
   	background: var(--white);
}
input[type="radio"]:focus{
	outline: none;
}
input[type="radio"]:focus + label::before {
   	box-shadow: 0 0 0 2px var(--gray);
}
/* ----- CONTACT FORM TAGS END ----- */
footer {
    background-color: var(--dk-blue);
    color: var(--mint);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}